/* Reset Styles, haters */
* {margin: 0; padding: 0;}

/* Elements */

body
{
  background-color: #FFF;
  font-family: 'Verdana', 'Helvetica', sans-serif;
  font-size: 100%;
  line-height: 1.125em;
}

a
{
  color: #36F;
}

form
{
  clear: both;
}

label
{
  font-size: 0.875em;
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
}

input,
select
{
  font-size: 1.125em;
}

table
{
  border-collapse: collapse;
}

table tr th,
table tr td
{
  padding: 0.5em;
}

table tr th
{
  text-align: left;
}

table tr td
{
  border-top: 1px solid #CCC;
}


/* Errors */

.fieldWithErrors {
  background-color: red;
  display: table;
  padding: 2px;
}

#errorExplanation {
  background-color: #F0F0F0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding-bottom: 12px;
  padding: 7px;
  width: 400px;
}

#errorExplanation h2 {
  background-color: #C00;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  margin: -7px;
  padding: 5px 5px 5px 15px;
  text-align: left;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* Layout */

h1
{
  letter-spacing: -0.05em;
  margin: 0.5em 0;
}

h1 a
{
  display: block;
  text-indent: -9999px;
  background: url(/images/h1_background.gif) no-repeat;
  width: 400px;
  height: 110px;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

h2
{
  font-weight: normal;
  letter-spacing: -0.05em;
}

ul#navigation
{
  background: #EEE;
  list-style: none;
  margin: 0;
  padding: 0.375em;
  margin-bottom: 1.5em;
}

ul#navigation li
{
  display: inline;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul#navigation li a {
  display: block;
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul#navigation li.right
{
  float: right;
}
