<h2>Schedule for <%= @venue.name %></h2>

<table id="talks">
  <tr>
    <th>Time</th>
    <th>Topic and Speaker</th>
  </tr>

  <% @talks.each do |talk| %>
    <tr>
      <td><%= talk.starts_at.to_s(:time) %></td>
      <td>
        <strong><%= h(talk.topic) %></strong>

        <% if talk.speaker? %>
          <br />
          <%= h(talk.speaker) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
