<h2>Upcoming</h2>

<% unless @talks_by_venue.empty? %>
  <% @talks_by_venue.each do |venue, talks| %>
    <h3><%= link_to h(venue.name), venue_talks_path(venue) %></h3>

    <table id="talks">
      <tr>
        <th>Time</th>
        <th>Topic &amp; Speaker</th>
      </tr>

      <%= render :partial => talks %>
    </table>
  <% end %>
<% else %>
  <p>Sorry, there's nothing going on right now.</p>
<% end %>
