<h2>New Venue</h2>

<%= error_messages_for :venue %>

<% form_for(@venue) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
    or
    <%= link_to 'Cancel', venues_path %>
  </p>
<% end %>
