/* Reset */

* {
  margin: 0;
  padding: 0;
}


/* Elements */

body {
  color: #355C2F;
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
  font-size: 14px;
  text-align: center;
}

a {
  color: #E70;
}

p {
  margin: 1em;
}

p.flash {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background: #E70;
  color: #FFF;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

h2 {
  font-size: 1.25em;
  margin: 0.8em;
}

h3 {
  font-size: 1em;
  margin: 1em;
}

form,
.clear {
  clear: both;
}

form label {
  display: inline-block;
  width: 80px;
}

table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

table th,
table td {
}

table th {
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 0.3333em 1.3333em;
  color: #696;
}

table td {
  padding: 0.25em 1em;
  border-top: 1px solid #CDC;
  padding: 0.25em 1em;
}


/* Layout */

#page {
  margin: 0 auto;
  text-align: left;
}

#header h1 {
  font-size: 1em;
}

#header h1 a {
  background: url(/assets/h1_background.gif) no-repeat;
  display: block;
  height: 120px;
  margin-left: 0.5em;
  text-indent: -9999px;
  width: 400px;
}

#navigation {
  background: #89C63D;
  padding: 0.5em 0;
}

#navigation ul {
  border-color: #FFF;
  border-style: solid;
  border-width: 5px 0 5px 0;
  padding: 0.5em 0;
}

#navigation ul li {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  background: #355C2F;
  border: 1px solid #355C2F;
  color: #FFF;
  display: block;
  float: left;
  font-size: 2em;
  font-weight: bold;
  list-style: none;
  margin: 0.25em 0.5em;
  padding: 0.25em 0.5em;
  position: relative;
  width: 13em;
}

#navigation ul li a {
  color: #E91;
  text-decoration: none;
  display: block;
}

#navigation ul li span {
  font-size: 0.5em;
  line-height: 2em;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer {
  border-top: 2px solid #355C2F;
  margin: 1em 0;
  padding: 1em;
}

#footer ul li {
  float: left;
  list-style: none;
  margin-right: 1.5em;
}


/* Errors */

.fieldWithErrors {
  background-color: #FFF;
  display: table;
  padding: 2px;
}

#errorExplanation {
  background-color: #F0F0F0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding-bottom: 12px;
  padding: 7px;
  width: 400px;
}

#errorExplanation h2 {
  background-color: #C00;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  margin: -7px;
  padding: 5px 5px 15px;
  text-align: left;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
